@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary_color: #27374D;
    --secondary_color: #DDE6ED;    
    --tertiary_color: #9DB2BF;
    --hover_color:#526D82;

    --primary_font:'Krona One', sans-serif;
    --seconday_font:'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

.main_body {
    box-sizing: border-box;
    background-color: var(--primary_color);
    color: var(--secondary_color);
}

.main_header {
    padding: 2% 0 0 15%;
}

.main_header__nav {
    display: flex;
    gap: 80px;
}

.main_header__nav__link {
    font-family: var(--seconday_font);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--tertiary_color);
    text-decoration: none;
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__contentOne {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__contentOne__title {
    font-size: 2.25rem;
    font-family: var(--primary_font);
}

.text_highlight {
    color: var(--tertiary_color);
}

.presentation__contentOne__paragraph {
    font-size: 1.5rem;
    font-family: var(--seconday_font);
}

.presentation__contentOne__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.presentation__contentOne__links__title {
    font-size: 1.5rem;
    font-family: var(--primary_font);
    font-weight: 400;
}

.presentation__contentOne__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--tertiary_color);
    width: 60%;
    border-radius: 10px;
    font-family: var(--seconday_font);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 21.5008px 0px;
    text-decoration: none;
    color: var(--secondary_color);
}

.presentation__contentOne__links__link:hover {
    background-color:var(--hover_color);
}

.presentation__contentTwo { 
    width: 50%;
    display: flex;
    justify-content: center;
}

.presentation__contentTwo_image {
    width: 65%;
}

.main_footer {
    background-color: var(--tertiary_color);
    color: var(--primary_color);
    padding: 24px;
    text-align: right;
    font-size: .625rem;
    font-family: var(--seconday_font);
    font-style: normal;
    font-weight: 400;
}

.main_footer__textHighlight {
    font-size: .75rem;
    font-family: var(--primary_font);
    font-weight: 200;
}

@media (max-width: 1200px) {
    .main_header {
        padding: 10%;
    }

    .main_header__nav {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__contentOne {
        width: auto;
    }

    .presentation__contentTwo {
        width: auto;
    }

}

@media (min-width: 1981px) {
    .main_header {
        padding: 5% 0 0 25%;
    }

    .presentation {
        padding: 5% 25%;        
    }
}