@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary_color: #27374D;
    --secondary_color: #DDE6ED;    
    --tertiary_color: #9DB2BF;
    --hover_color:#526D82;

    --primary_font:'Krona One', sans-serif;
    --seconday_font:'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

.main_body {
    box-sizing: border-box;
    background-color: var(--primary_color);
    color: var(--secondary_color);
}

.main_header {
    padding: 2% 0 0 15%;
}

.main_header__nav {
    display: flex;
    gap: 80px;
}

.main_header__nav__link {
    font-family: var(--seconday_font);
    font-size: 20px;
    font-weight: 600;
    color: var(--tertiary_color);
    text-decoration: none;
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation__contentOne {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__contentOne__title {
    font-size: 36px;
    font-family: var(--primary_font);
}

.text_highlight {
    color: var(--tertiary_color);
}

.presentation__contentOne__paragraph {
    font-size: 24px;
    font-family: var(--seconday_font);
}

.presentation__contentOne__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.presentation__contentOne__links__title {
    font-size: 24px;
    font-family: var(--primary_font);
    font-weight: 400;
}

.presentation__contentOne__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--tertiary_color);
    width: 378px;
    border-radius: 10px;
    font-family: var(--seconday_font);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--secondary_color);
}

.presentation__contentOne__links__link:hover {
    background-color:var(--hover_color);
}

.presentation__contentTwo_image {
    height: 450px;
}

.main_footer {
    background-color: var(--tertiary_color);
    color: var(--primary_color);
    padding: 24px;
    text-align: right;
    font-size: 10px;
    font-family: var(--seconday_font);
    font-style: normal;
    font-weight: 400;
}

.main_footer__textHighlight {
    font-size: 12px;
    font-family: var(--primary_font);
    font-weight: 200;
}